@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;

    justify-content: center;
    margin: 0;
}

.header {
    background-color: #372c2e;
    width: 100vw;
}


.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 16px;

}

.logo {
    color: #ffffff;
    font-size: 24px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
}

a {
    color: #de9e48;
    font-size: 18px;
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: space-around;
    
}

.hero-content {
   flex-basis: 100%;
}

h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-text {
    color: #de9e48;
    font-size: 18px;
}

.hero-button {
    background-color: #7a431d;
    color: #ffffff;
    font-size: 18px;
    border: solid #563727 3px;
    border-radius: 12px;
    padding: 6px 24px;
}

.hero-image-container {
    flex-basis: 100%;
}

.hero-image {
    
}